{
    MouseButtonDivision = 55;
    MouseButtonMode = TwoButton;
    MouseHorizontalScroll = 1;
    MouseMomentumScroll = 1;
    MouseOneFingerDoubleTapGesture = 0;
    MouseTwoFingerDoubleTapGesture = 3;
    MouseTwoFingerHorizSwipeGesture = 2;
    MouseVerticalScroll = 1;
    UserPreferences = 1;
}
