[global_config]
  suppress_multiple_term_dialog = True
[keybindings]
  close_term = <Primary>w
  close_window = <Primary>q
  copy = <Primary>c
  cycle_next = None
  cycle_prev = None
  new_tab = <Primary>t
  next_tab = <Primary>Tab
  paste = <Primary>v
  prev_tab = <Primary><Shift>Tab
  split_horiz = <Primary><Shift>d
  split_vert = <Primary>d
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.91
    background_type = transparent
    cursor_color = "#aaaaaa"
    scrollback_infinite = True
    show_titlebar = False
