[general]
prompt-on-quit=true
window-height=100
mouse-display=true
use-login-shell=false
window-width=100
window-valignment=0
max-tab-name-length=100
window-losefocus=false
quick-open-enable=true
history-size=1000
start-fullscreen=true
open-tab-cwd=true
window-tabbar=true
window-halignment=0
quick-open-command-line='gedit %(file_path)s'
compat-delete='delete-sequence'
default-shell='/usr/bin/byobu'
abbreviate-tab-names=false
display-n=0
scroll-keystroke=true
use-default-font=true
use-trayicon=true
use-scrollbar=true
window-refocus=true
set-window-title=false
tab-ontop=true
use-popup=true

[keybindings/local]
switch-tab8='<Primary>8'
new-tab='<Primary>t'
clipboard-copy='<Primary>c'
switch-tab9='<Primary>9'
switch-tab6='<Primary>6'
close-tab='<Primary>w'
move-tab-left='<Primary><Shift>Left'
rename-current-tab='<Primary>r'
previous-tab='<Primary>Right'
move-tab-right='<Primary><Shift>Right'
switch-tab1='<Primary>1'
switch-tab2='<Primary>2'
clipboard-paste='<Primary>v'
switch-tab3='<Primary>3'
next-tab='<Primary>Left'
switch-tab5='<Primary>5'
switch-tab4='<Primary>4'
switch-tab10='<Primary>0'
switch-tab-last='<Primary>parenright'
switch-tab7='<Primary>7'

[style/background]
transparency=95

[style/font]
allow-bold=true
palette='#000000000000:#A1A168686969:#9999A5A56969:#A2A290906969:#6A6A8F8FA3A3:#69697171A3A3:#6B6BA4A48F8F:#9999A3A3A2A2:#66666C6C6B6B:#DCDC5B5B5F5F:#BFBFDEDE5454:#DEDEB3B35F5F:#6262B1B1DFDF:#5F5F6E6EDEDE:#6464E3E39C9C:#D1D1DFDFDEDE:#9999A3A3A2A2:#242426262626'
palette-name='Soft Server'
